requests
python-dotenv
ddgs
pydantic==2.13.4
streamlit
langchain==1.3.2
langchain-core==1.4.0
langchain-community==0.4.2
langchain-ollama==1.1.0
langchain-chroma==1.1.0
langchain-text-splitters==1.1.2
chromadb
sentence-transformers
protobuf==3.20.3
